[submodule "submod/string_tree"]
	path = submod/string_tree
	url = https://github.com/assemberist/string_tree
[submodule "submod/dirent"]
	path = submod/dirent
	url = https://github.com/tronkko/dirent
[submodule "src/submod/string_tree"]
	path = src/submod/string_tree
	url = https://github.com/assemberist/string_tree
